    <div class="banner2">
          <div class="field_content">
            <h1>Find the perfect gift</h1>
            <h2 style="color:black;">By answering some <br>simple questions</h2>
            <md-button ng-click="scrollToStores()" class="md-raised md-primary">Get Started</md-button>
        </div>
    </div>
    <div class="content_middle_bottom">
        <div class="header-left" id="home">
              <section id="stores">
                <ul class="lb-album" >
                    <li ng-repeat="store in stores">
                        <a ng-click="goToStore(store)" href="#">
                            <img ng-src="{{store.pic}}"  class="img-responsive"/>
                            <span>{{store.name}}</span>
                        </a>
                        
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </section>
        </div>
     </div>
